@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{

    background-color: #4b4949;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo{

    text-decoration: none;
    color: rgb(0, 26, 255);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    }
    .hstyle a{
        color: rgb(0, 26, 255);
        text-decoration: none;
        font-size: 1.1em;
        font-weight: 500;
        padding-left: 30px;
    }
    
    .hstyle a:hover{
    color: #601cfc;
    }

    section{
        padding: 100px 200px;}

  .myinfo
    { overflow: hidden;
     border-style: outset;
     color: #141212;
     text-align: center;
     padding: 100px 100px;
     text-decoration: none;
    }

    section{
        padding: 100px 200px;}
     
    .center{
     margin: auto;
     text-align: center;
     border: 5px solid #141212;
     border-style: outset;
     padding: 20px 20px;
    }
    footer{
        grid-column: 1/3;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #4b4949;;
    }